name: Pr Size Label

on:
  pull_request:
    branches: [ main ]

jobs:
  size-labeler:
    runs-on: ubuntu-latest
    name: 'Label the PR'
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Fix script permissions
        run: chmod +x ./.scripts/label.sh

      - name: Run Label script
        run: ./.scripts/label.sh '${{ secrets.GITHUB_TOKEN }}'

